* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
    font-weight: 400;
}

nav {
    display: contents;
}

.nav-bar {
    align-items: center;
    display: flex;
}
body {

    height: 100vh;
}
header {
    justify-content:space-evenly;
    display: flex;
    background-color: blue;
    border-radius: 15px;
}
p, label {
    color: aliceblue;
    font-size: 16px;
    padding: 0 10px;
}

nav, a {
    color: rgb(252, 51, 36);
    text-decoration: none;
    transition: .2s;
    font-size: 1.5rem;

    
}
nav a:hover {
    color: rgb(110, 200, 252);
    transform: scale(1.05);
    background-color: aqua;
}
.cadastro {
    display: flex;

}
.menu-principal {
    
}
.login-menu-principal {
    align-self: center;
}
.butao-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    margin: 10px 0;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.butao-login:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}
.cadastro a {
    font-size: 16px;
    padding: 0  ;
}
ul {
    display: flex;
    list-style-type: none;
    padding: 0 30px;
}
li {
    padding: 0 20px;
}